<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param
        name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find arm_model)/robots/arm_model.xacro'" />

    <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -model arm_model -param robot_description"
        respawn="false"
        output="screen" />
<!--args="$(optenv ROBOT_INITIAL_POSE) -unpause -urdf -param robot_description -model arm_model -x 0 -y 0 -z 0.5 -R -1.57 -P 0 -Y 0"-->

    <!-- <node
        name="tf_footprint_base"
        pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 base_link base_footprint 40" /> -->

    <!-- <rosparam 
        file="$(find arm_model)/config/arm_control.yaml" 
        command="load"/>

    <node 
        name="joint_controller_spawner" 
        pkg="controller_manager" 
        type="spawner" 
        respawn="false"
        output="screen" 
        ns="/arm_model" 
        args="joint_state_controller 
              joint_0_1_controller 
              joint_1_2_controller
              joint_2_3_controller" /> -->

    <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher" 
        respawn="false"
        output="screen" />

</launch>